.box {
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

.pierwszy {
    background-color: red;
    transition: all 0.5s ease-in-out;
}

.pierwszy:hover {
    width: 300px;
}

.drugi {
    background-color: green;
    transition: all 0.5s ease-in-out;
}

.drugi:hover {
    height: 300px;
}

.trzeci {
    background-color: blue;
    transition: all 0.5s ease-in-out;
}

.trzeci:hover {
    height: 300px;
    width: 300px;
}