@media all and (min-width: 993px){
    #gallery {
        width: 100%;
    }

    figure {
        width: 33%;
    }
}

@media (min-width: 758px) and (max-width: 992px) {
    #gallery {
        width: 100%;
    }

    figure {
        width: 49%;
    }
}

@media (min-width: 469px) and (max-width: 758px) {
    #gallery {
        width: 100%;
    }

    figure {
        width: 75%;
    }
}

@media (max-width: 468px) {
    #gallery,
    figure {
        width: 100%;
    }
}