.display-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.display-bar {
  margin: 0;
  display: flex;
  width: 80%;
  justify-content: center;
}

.reactValue {
  height: 100px;
  width: 50%;
  background-color: green;
}

.angularValue {
  height: 100px;
  width: 50%;
  background-color: red;
}